:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: #f6f6f6;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.container {
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}

h1 {
    margin-top: -4px;
    text-align: center;
}

input,
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 600;
    font-family: inherit;
    letter-spacing: 2px;
    color: #0f0f0f;
    background-color: #ffffff;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#copy-button {
    color: #ffffff;
    background-color: #396cd8;
}
#copy-button:hover {
    border-color: #0f0f0f;
}
#copy-button:active {
    transition: 0.1s ease-in-out;
    background-color: #2a4fa1;
}

#regen-button {
    margin-right: 5px;
    background-image: url("/src/assets/refresh-light.svg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}

input[type=range] {
    margin-right: 250px;
    position: absolute;
    width: 40%;
    box-sizing: border-box;
    box-shadow: none;
    padding-left: 0px;
    padding-right: 0px;
}

/* checkboxes */

input[type=checkbox] {
    margin-top: 15px;
    height: 50%;
    transform: scale(1.5);
    border-radius: 8px;
    accent-color: #0f0f0f;
    cursor: pointer;
    color: #0f0f0f;
    background-color: #0f0f0f;
    box-shadow: none;
}

input[type=checkbox]:checked {
    accent-color: #DBA800;
}

label {
    font-size: medium;
}

#checkbox-container {
    display: inline-grid;
    margin-top: -30px;
    display: inline-grid;
    margin-bottom: -5px;
    margin-left: 260px;
    column-gap: 12px;
}

#use-numbers {
    grid-row: 1;
}

#use-schars {
    grid-row: 3;
}

button {
    cursor: pointer;
}

button:hover {
    border-color: #396cd8;
}

button:active {
    border-color: #396cd8;
    background-color: #e8e8e8;
}

input,
button {
    outline: none;
}


@media (prefers-color-scheme: dark) {
    :root {
        color: #f6f6f6;
        background-color: #2f2f2f;
    }

    a:hover {
        color: #24c8db;
    }

    input,
    button {
        color: #ffffff;
        background-color: #0f0f0f98;
    }

    button:active {
        background-color: #0f0f0f69;
    }

    #regen-button {
        background-image: url("/src/assets/refresh-dark.svg")
    }
}